<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">SignUp</a>
    
    <% if (locals.allIncidents) { %>
        <table border="1">
            <tr>
                <% allIncidents.forEach((incident) => { %>
                    <td> <a href="#"> <%= incident.title %> </a> </td>
                    <td> <a href="#"> <%= incident.title %> </a> </td>
                    <td> <a href="#"> <%= incident.title %> </a> </td>
                    <td> <a href="#"> <%= incident.title %> </a> </td>
                    <td> <a href="#"> <%= incident.title %> </a> </td>
                    <td> <a href="#"> <%= incident.title %> </a> </td>
                <% }) %>
            </tr>
        </table>
    <% } %>
    </form>
</body>
</html>